<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase WEB_PATH
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . WEB_PATHindex.php [L]
</IfModule>
